<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Formulario Competiciones</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/Css/Styles.css}">
    <link rel="shortcut icon" th:href="@{/img/logo-football-vector.jpg}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://kit.fontawesome.com/a8699accd2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/style.css">

</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark custom-navbar p-4">
						    <div class="container d-flex justify-content-between align-items-center">
						        <ul class="navbar-nav">
						            <li class="nav-item">
						                <a class="nav-link" href="/index">
						                    <i class="fa-solid fa-house fa-2x"></i>
						                </a>
						            </li>
						        </ul>
						        <a class="navbar-brand mx-auto">
						            <span class="mundialito-title">Mundialito</span>
						        </a>
						    </div>
						</nav>
</header>
<body >
 <main>
        <br><br>
       
        <br>
        <div class="form-container">
         <div class="return">
        </div><br>
        <h1 class="section__title" >Agregar Datos</h1>
	<script th:src="@{/JS/App.js}"></script>
    <div class="cont">
        <form th:action="@{/competiciones/save}" th:object="${competiciones}" method="post" onsubmit="return validarFechas();">
            <input type="hidden" th:field="*{id}">
            <div class="nombre">
                <label for="name" class=" font-sans text-2xl h1h2">Nombre Competicion: </label>
                <input type="text" id="nameC" th:field="*{nombre}" placeholder="Ingrese el nombre..." class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" required>
            </div><br>
        <div class="name">
            <label for="name" class=" font-sans text-2xl h1h2">Fecha inicio(dd/mm/aaa): </label>
            <input type="date" id="inicio" th:field="*{fechaInicial}" placeholder="Ingrese el presidente..." class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"required>
        </div><br>
        <div class="name">
            <label for="name" class="font-sans text-2xl h1h2">Fecha final(dd/mm/aaa): </label>
            <input type="date" id="fin" th:field="*{fechaFinal}" placeholder="Ingrese las siglas..." class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"required>
        </div><br>
		<div id="error-messages" th:classappend="${errorMessage} ? 'bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative' : ''" th:text="${errorMessage}">
			
		</div><br>

            <div class="button">
                <button type="submit"> <strong class="btn btn-custom btn-lg">Agregar</strong></button>
            </div>
        </form>
        </div>
    </div><br><br>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</body>

</html>